@font-face {
    font-family: DS-Digital;
    src: url(../fonts/DS-DIGI.TTF);
}

body {
  color: #666;
}

#bpmOutput {
  font-family: DS-Digital;
}

.demo-list-item {
  width: 300px;
}

#add {
  position: absolute;
  left: 20px;
  top: 80px;
  z-index: 999;
}

.mdl-slider {
  height: 200px;
  border-radius: 5px;
  background: #ccc;
  outline: none;
  writing-mode: tb-lr; /* IE */
  -webkit-appearance: slider-vertical; /* WebKit */
}
  
@media all and (min-width: 1024px) {
  #add {
    top: 100px;
  }
}

@mixin button {
  background-color: rgb(63,81,181);
  color: #fff;
  border-radius: 30px;
  border: #fff outset;
  &:active {
    border-style: inset;
  }
  &:focus {
    outline: none;
  }

}
#key_list {
  text-align: center;
  margin:auto;
  button {
    @include button;
    width: 6%;
    padding: 10px;
    font-size:20px;
    &:active {
      border-style: inset;
    }
  }
}


#randomizer {
  text-align: center;
  margin: 20px;
  #rand_button {
    display:block;
    @include button;
    font-size: 20px;
    margin: auto;
    padding: 15px;
  }
}

.button-container button {
  @include button;
  font-size: 20px;
  margin: auto;
  width: 100%;
  padding: 10px;
  font-size:16px;
}

#rand_status, #rand_output {
  display: inline;
}